// global base
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}

.body2 {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

// nav bar
nav {
    font-size: 2rem;
    word-spacing: 2rem;
}
nav li:hover {
    background-color: $primary-color;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 5rem;
}

ul {
    margin: 0;
    padding: 1rem;
}

li {
    display: inline;
    color: $text2;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}

a {
    margin-bottom: 5rem;
    color: $text2;
    text-decoration: none;
    margin-right: 2rem;
}

h2 {
    font-size: 2rem;
    font-family: 'Poiret One', cursive;
    text-align: center;
}

h1 {
    // font-family: 'Poiret One', cursive;
    font-family: 'Yeseva One', cursive;
    text-align: center;
    margin-bottom: 60px;
    font-size: 5rem;
    color: orangered;
    font-weight: bolder;
}

.arrow {
    width: 100px;
    height: 100px;
    padding-left: 870px;
    padding-bottom: 300px;
}