// global components
// button
button {
    border-radius: 5px 5px 5px;
    background-color: $text;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    color: black;
    padding: 0.3rem;
}

// hover over button
button:hover {
    text-align: center;
    color: black;
    border-radius: 20px;
    padding: 0.3rem 1rem;
    margin-left: 2rem;
    text-shadow: 0 0 10px $text3,
                 0 0 20px $text3,
                 0 0 30px $text3,
                 0 0 40px $text3;
}

select {
    color: $secondary-color;
    text-decoration: none;
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    font-size: 1.1rem;
}
// end of button style
// form 
form {
    font-family: 'Poiret One', cursive;
    margin-top: 2.8rem;
    margin-left: 20rem;

    input {
        padding: 0.3rem 0;
    }

    .comment {
        padding: 3rem;
    }
}