

.header {
    padding-top: 10rem;
    padding-left: 2%;
}

.arrow {
    width: 100px;
    height: 100px;
    padding-left: 870px;
    padding-top: 8rem;
}

#activity {
    color: $text;
}

.dropbtn {
    font-size: 4rem;
    border: none;
    
}
  
.dropdown {
    display: inline-block;
}

.dropdown-content {
    padding: 1rem 1rem;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.808);
    margin-top: 1rem;
}

.dropdown-content a {
    color: $secondary-color;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    // border-radius: 20px;
    margin: 20px 0 0 0;
    padding: 0;
}

.dropdown-content a:hover {
    background-color: rgba(255, 99, 71, 0.747);
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 20px;
}

// hoomepage button
.home {
    font-size: 3rem;
    margin-left: 50rem;
}
.home:hover {
    background-color: rgba(230, 94, 70, 0.781);
    border-radius: 20px;
    padding: 1rem;
    margin-left: 50rem;
}

.pic1:hover,
.pic2:hover,
.pic3:hover {
    height: 33rem;
    width: 43rem;
    transition: 1s ease-in-out;
}