// layout
.gallery img {
    height: 30rem;
    width: auto;
}

.fish,
.hike,
.canoe,
.camping,
.hunting,
.climb,
.adven,
.outdoor {
    display: grid;
    grid-gap: 7px;
    overflow-x: hidden;
    padding: 5px;
    background-size: cover;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
// end of gallery

// homepage activities grid
.camp {
    display: grid;
    padding: 1rem;
    margin: auto;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "title title title"
    "img-1 box-1 box-1"
    "box-2 box-2 img-2";
}

.title {
    grid-area: title;
}
.camp-img {
    grid-area: img-1;
    height: 25rem;
    background-image: url(../images/camping1.jpg);
    background-size: 100% 100%;
    padding: 2rem;
}
.box-1 {
    grid-area: box-1;
    text-align: center;
}

.box-2 {
    // padding: 2rem;
    grid-area: box-2;
    text-align: center;
}

.camp-img-2 {
    grid-area: img-2;
    height: 25rem;
    background-image: url(../images/camp-04-a.jpg);
    background-size: 100% 100%;
    padding: 2rem;
}

.fishing {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "title title title"
    "img-3 box-1 box-1"
    "box-2 box-2 img-4";
}
.fish-img {
    grid-area: img-3;
    height: 30rem;
    background-image: url(../images/fishing3.jpg);
    background-size: 100% 100%;
}
.fish-img-2 {
    grid-area: img-4;
    height: 30rem;
    background-image: url(../images/Wanaka-Fly-Fishing.jpg);
    background-size: 100% 100%;
}

.hiking {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "title title title"
    "img-5 box-1 box-1"
    "box-2 box-2 img-6";
}

.hike-img {
    grid-area: img-5;
    height: 30rem;
    background-image: url(../images/hiking1.jpg);
    background-size: 100% 100%;
}
.hike-img-2 {
    grid-area: img-6;
    height: 30rem;
    background-image: url(../images/Hikings.jpg);
    background-size: 100% 100%;
}

.climbing {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "title title title"
    "img-7 box-1 box-1"
    "box-2 box-2 img-8";
}

.climb-img {
    grid-area: img-7;
    height: 30rem;
    background-image: url(../images/climbing3.png);
    background-size: 100% 100%;
}
.climb-img-2 {
    grid-area: img-8;
    height: 25rem;
    background-image: url(../images/climbings.jpg);
    background-size: 100% 100%;
}

.hunt {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "title title title"
    "img-9 box-1 box-1"
    "box-2 box-2 img-10";
}

.hunt-img {
    grid-area: img-9;
    height: 30rem;
    background-image: url(../images/hunt.jpg);
    background-size: 100% 100%;
}
.hunt-img-2 {
    grid-area: img-10;
    height: 40rem;
    background-image: url(../images/hunts.jpg);
    background-size: 100% 100%;
}
.canoing {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "title title title"
    "img-11 box-1 box-1"
    "box-2 box-2 img-12";
}

.canoe-img {
    grid-area: img-11;
    height: 30rem;
    background-image: url(../images/canoe-adventure.jpg);
    background-size: 100% 100%;
}
.canoe-img-2 {
    grid-area: img-12;
    height: 30rem;
    background-image: url(../images/kaskazi-kayaks.jpg);
    background-size: 100% 100%;
}

// end of grid style of activities
// contact form
form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: auto;
    text-align: center;
    width: 71.375rem;
}
.comments {
    grid-column: 2 span;
}