// global variables

// global colours

$primary-color: rgb(168, 153, 21);
$secondary-color: rgba(0, 0, 0, 0.815);
$bgcolor: linear-gradient(brown,yellow,orange);
$bgcolor2: seagreen;

// text colors
$headings: rgb(36, 128, 0);
$links: orange;
$text: rgba(255, 0, 0, 0.753);
$color-shadow: pink;