// global variables

// global colours

$primary-color: #4D9078;
$secondary-color: rgba(0, 0, 0, 0.815);
$bgcolor: linear-gradient(rgba(95, 173, 86, 0.459),rgba(242, 193, 78, 0.664),rgba(247, 130, 84, 0.575));
// text colors
$headings: #F2C14E;
$links: orange;
$text: #5158BB;
$text2:#84C318;